* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  Grotesk;
  display: block;
  background-image: url(image/image-profile-mobile.webp);
  background-repeat: no-repeat;
  background-color: black; 
  background-position: top;
}

.h1 {
  display: inline-block;
  color: white;
 margin-bottom: 0;
}

.h2-1 {
  color: white;
  margin-top: 700px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.rectangle1 {
  width: 225px;
  height: 4px;
  background-color: #4EE1A0;
  margin: 0 0 20px 0;
  justify-content: center;
}

.p1 {
  display: block;
  color: gray;
  text-align: center;
  font-size: 16px;
  margin-top: auto;
}

.p2 {
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.286px;
  margin: 24px 0 10px 0;
  text-align: center;
}

.rectangle2 {
  display: block;
  width: 120px;
  height: 2px;
  background-color: #4EE1A0;
  margin: auto;
}

.hr1 {
  margin-top: 92px;
}

.HTML {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
}

.lang {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.years {
  display: block;
  color: gray;
  margin: auto;
  text-align: center;
}

.hr2 {
  margin-top: 40px;
}

.h2-2 {
  display: inline-block;
  color: white;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin-top: 80px;
}

.p3 {
  display : inline;
  color: white;
  margin-left: 90px;
}

.thumbnail {
  display: block;
  width: 345px;
  height: 253px;
  align-items: center;
  margin: auto;
}

.DESIGN {
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-left: 15px;
  font-feature-settings: 'clig' off, 'liga' off;
}

.html {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}

.rectangle4 {
  display: inline-flex;
  width: 138px;
  height: 2px;
  background-color: #4EE1A0;
  margin-left: 15px;
}

.rectangle5 {
  display: inline-flex;
  width: 103px;
  height: 2px;
  background-color: #4EE1A0;
  margin: 0 0 40px 170px ; 
}

.PROJECT {
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: inline;
  margin: 20px 0 0 20px;
}

.CODE {
  color: white;
  font-size: 16px;
  font-weight: 700;
  display: inline;
  margin: 20px 0 0 32px;
}


.titre {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
}

.tous {
margin: 20px;
}

.icon {
  display: grid;
  grid-template-columns: 45px 45px 45px 45px;
  justify-content: center;
  margin: 20px 0 0 25px;
}

.git {
  display: flex;
  width: 19.69px;
  height: 19.2px; 
}

.link {
  display: block;
  width: 19.69px;
  height: 19.2px; 
}

.cust {
  display: block;
  width: 19.69px;
  height: 19.2px; 
}

.twit {
  display: block;
  width: 19.69px;
  height: 19.2px; 
}

.circle {
  display: block;
  position: relative  ;  top: 254px;
  left: 311px;
}

@media screen and (min-width: 640px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: block;
    background-image: url(image/image-profile-mobile.webp);
    background-repeat: no-repeat;
    background-color: black; 
    background-position: top;
  }
  
  .h1 {
    display: inline-block;
    color: white;
   margin-bottom: 0;
  }
  
  .h2-1 {
    color: white;
    margin-top: 700px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  
  .rectangle1 {
    display: block;
    width: 225px;
    height: 4px;
    background-color: #4EE1A0;
    margin: auto;
    justify-content: center;
  }
  
  .p1 {
    display: block;
    color: gray;
    text-align: center;
    font-size: 16px;
    margin-top: auto;
  }
  
  .p2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2.286px;
    margin: 24px 0 10px 0;
    text-align: center;
  }
  
  .rectangle2 {
    display: block;
    width: 120px;
    height: 2px;
    background-color: #4EE1A0;
    margin: auto;
  }
  
  .hr1 {
    margin-top: 92px;
  }
  
  .HTML {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 40px;
  }
  
  .lang {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
  }
  
  .years {
    display: block;
    color: gray;
    margin: auto;
    text-align: center;
  }
  
  .hr2 {
    margin-top: 40px;
  }
  
  .h2-2 {
    display: inline-block;
    color: white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-top: 80px;
  }
  
  .p3 {
    display : inline;
    color: white;
    margin-left: 90px;
  }
  
  .thumbnail {
    display: block;
    width: 345px;
    height: 253px;
    align-items: center;
    margin: auto;
  }
  
  .DESIGN {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-left: 15px;
    font-feature-settings: 'clig' off, 'liga' off;
  }
  
  .html {
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 15px;
  }
  
  .rectangle4 {
    display: inline-flex;
    width: 138px;
    height: 2px;
    background-color: #4EE1A0;
    margin-left: 15px;
  }
  
  .rectangle5 {
    display: inline-flex;
    width: 103px;
    height: 2px;
    background-color: #4EE1A0;
    margin: 0 0 40px 170px ; 
  }
  
  .PROJECT {
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    margin: 20px 0 0 20px;
  }
  
  .CODE {
    color: white;
    font-size: 16px;
    font-weight: 700;
    display: inline;
    margin: 20px 0 0 32px;
  }
  
  
  .titre {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 700;
  }
  
  .tous {
  margin: 20px;
  }
  
  .icon {
    display: grid;
    grid-template-columns: 45px 45px 45px 45px;
    justify-content: center;
    margin: 20px 0 0 25px;
  }
  
  .git {
    display: flex;
    width: 19.69px;
    height: 19.2px; 
  }
  
  .link {
    display: block;
    width: 19.69px;
    height: 19.2px; 
  }
  
  .cust {
    display: block;
    width: 19.69px;
    height: 19.2px; 
  }
  
  .twit {
    display: block;
    width: 19.69px;
    height: 19.2px; 
  }
  
  .circle {
    display: block;
    position: relative  ;  top: 254px;
    left: 311px;
  }
}